@import url('https://fonts.googleapis.com/css2?family=Playwrite+AU+NSW:wght@100..400&display=swap');

.about-section{
    display: flex;
    align-items: center;
    flex-direction: column;
}

.about-section h2{
    color:#472702;
    font-family: "Playwrite AU NSW";
    margin-bottom: 5px;
    text-align: center;
}

.about-section p{
    color: #472702;
    font-family: "Playwrite AU NSW";
    font-size: 16px;
    font-weight: 400;
    margin: 15px 0;
    text-align: center;
}

.qualifications{
    text-align: center;
    padding: 5px;
}

.qualifications h3{
    color:#472702;
    font-family: "Playwrite AU NSW";
}

.qualifications ul{
    list-style: none;
    padding: 0;
    margin: 0;
}

.cert-link{
    display: flex;
    align-items: center;
    flex-direction: column;
}


.link-cert-btn{
    background-color: transparent;
    color:#472702;
    border-radius: 20px;
    border: 1px solid #472702;
    padding: 5px;
    cursor:pointer;
}

.certificados-grid{
    display: flex;
    flex-wrap: wrap;
}

.img{
    width:100px;
    margin: 10px;
}

.cv-link{
    display: flex;
    align-items: center;
    flex-direction: column;
}

.cv-link h3{
    color:#472702;
    font-family: "Playwrite AU NSW";
    font-size: 15px;
    font-weight: 600;
    margin-bottom: 10px;
    padding-bottom: 2px;
    border-bottom: 1px solid #472702;
    
}

.cv-link button{
    background-color: transparent;
    border-radius: 20px;
    border: 1px solid #472702;
    padding: 5px;
}

.cv-link a{
    text-decoration: none;
    color: #472702;
}

.img_intro_ciber{

    margin-top: 10px;
    width:300px;
    height:300px;
}

li{
    list-style: none;
}